*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style: none;
}

button{
    cursor: pointer;
    background: transparent;
    border: none;
}

input, select, textarea{
    background: transparent;
    /* border: none; */
}

img{
    max-width: 100%;
}
.mainDiv{
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    align-items: center;
    padding-top: 20px;
}